# GEMINI_API_KEY: Required for Gemini AI API calls (default placeholder)
GEMINI_API_KEY=""

# Senha secreta para fazer o login no painel administrativo do site (Upload/Deleção de fotos e vídeos como fallback)
ADMIN_PASSWORD="minhasenhasapeka"

# URL de Produção do Servidor backend (Opcional)
VITE_API_BASE_URL=""
